h1 {
    text-align: RIGHT;
    font-size: large;
    color: rgb(17, 17, 17);
}

p {
    text-align: centre;
}

.column {
    font-family: Arial, Helvetica, sans-serif;
    list-style: square;
    font-style: italic;
    font-family: cursive;
    font-style: oblique;
}

.roman {
    list-style: circle;
    margin: 20px;
}

.me {
    margin: 10px;
}

.bcg {
    color: purple;
    margin: 10px;
}

.list {
    position: relative;
    top: 0px;
    margin: 20px;
}

.brg {
    color: purple;
}

.tb {
    border: 6px solid purple;
    padding: 2px;
    margin: 20px;
}

.tags {
    position: relative 1000px;
}

img {
    width: 600px;
    height: 800px;
}