h1 {
    position: relative;
    top: left;
    950px;
    font-size: large;
    color: rgb(17, 17, 17);
}

p {
    text-align: centre;
}

.column {
    font-family: Arial, Helvetica, sans-serif;
    list-style: square;
    font-style: italic;
    font-family: cursive;
    font-style: oblique;
    position: relative;
    left: 540px;
}

.roman {
    list-style: circle;
    margin: 20px;
}

.me {
    margin: 10px;
}

.bcg {
    color: purple;
    margin: 10px;
}

.list {
    position: relative;
    left: 950px;
    margin: 20px;
}

.brg {
    color: purple;
}

.tb {
    border: 6px solid purple;
    padding: 2px;
    margin: 20px;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}